# ========================
# NODE MODULES
# ========================
node_modules/

# ========================
# ENV FILES (IMPORTANT)
# ========================
.env

# ========================
# LOG FILES
# ========================
logs
*.log
npm-debug.log*

# ========================
# OS FILES
# ========================
.DS_Store

# ========================
# BUILD FILES
# ========================
dist/
build/

# ========================
# TEMP FILES
# ========================
.tmp/
.cache/

# ========================
# IDE FILES
# ========================
.vscode/
.idea/